
/*
.videoTag
{
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  object-fit: cover;
  position: fixed;
  top: 0; 
  left: 0; 
  bottom: 0;
  margin: 0;
  background-repeat: no-repeat;
  
}
.IntroText h1
{
  position: relative;
  text-align: center;
  margin-top: 10%;
  color: white;
  width: 100%;
  padding: 20px;
}
.IntroText p
{
  position: relative;
  text-align: center;
  color: white;
  z-index: 1;
  padding: 20px;
}
.intro
{
  height: 1000px;
  width: auto;
}
:root {
  --transition-duration: 0.5s;
}
.flex-center {
  z-index: 1;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

}
.logo {
  width: 100px;
  height: 120px;
  padding-top: 20px;
}

.container {
  width: clamp(230px, 80%, 920px);
  flex-direction: row;
}

ul {
  margin: 0px;
  display: flex;
  width: 300%;
}

li {
  color: #efe;
  margin: 20px;
  padding: 0.7rem 1rem;
  position: relative;
  justify-content: space-between;
  cursor: pointer;
  transition: var(--transition-duration);
  overflow: hidden;
}

.navhover:hover {
  z-index: 2;
  color: black;
}

.navhover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  bottom: 0;
  left: 0;
  transition: var(--transition-duration);
  z-index: 1;
  border-radius: 4px;
}



li span {
  position: absolute;
  width: 25%;
  height: 100%;
  bottom: -100%;
  background: white;
  z-index: -1;
  transition: var(--transition-duration);
}

li:hover span {
  bottom: 0;
}

li span:nth-child(1) {
  left: 0;
}

li span:nth-child(2) {
  left: 25%;
  transition-delay: 0.1s;
}

li span:nth-child(3) {
  left: 50%;
  transition-delay: 0.2s;
  z-index: -1;
}

li:hover span:nth-child(3) {
  bottom: 0;
}

li span:nth-child(4) {
  left: 75%;
  transition-delay: 0.2s;
  z-index: -1;
} */

html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
  width: 100% !important;
}
.parralaxcontainer 
{
  
  top:0px;
  position: relative;
  display: flex;
  width: 100%;
  height: 100px;

  /* The image used */
  background-image: url("./assets/488256810_1107464334726968_3870109076615288051_n.jpg");
  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  z-index: 2;
}

.boxcontainer h1
{
  padding-top: 3%;
  position: relative;
  text-align: center;
  color: black;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;

}
.boxcontainer p
{
  position: relative;
  text-align: center;
  color: black;
  z-index: 1;
 
}


/* About Us*/


.AboutPhoto 
{
  
  top:10%;
  left: 15%;
  position: absolute;
  width: 30%;
  /* The image used */
  background-image: url("https://scontent.fmnl4-2.fna.fbcdn.net/v/t39.30808-6/476228809_1154651809621281_6266316232339093243_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEDijcBYTuCRYoGchpLIRQRygYWZzZAU93KBhZnNkBT3dO53cdIPzqdzD-Jo1eDiMTgESz0jPu94OaTfLQydB-w&_nc_ohc=SFMLOnbAekkQ7kNvwEn36vj&_nc_oc=AdkclRdZRSndBE_W6Fx7of8fm3FLjFSaOIOW5dNQOLXxHlfq688s_S8hFuaNc26Jb7pIg172wt0x6C2QZyJzJflI&_nc_zt=23&_nc_ht=scontent.fmnl4-2.fna&_nc_gid=yapP7VV1Hi_X4QG1PDBnuA&oh=00_AfKG146T8dkuTmOokAvjRM3umw-X2eD3XQv9nMu9gQvdxw&oe=6840976C");
  /* Set a specific height */
  min-height: 800px;
  /* Create the parallax scrolling effect */
  border: 1px solid white;
  background-attachment: fixed;
  background-position: 20% center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px;
  z-index: 2;
}

.AboutPhoto::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 80%;
  height: 60%;
  border-bottom: 19px solid #FF7F50;
  border-left: 19px solid #FF7F50;
  
  z-index: -1; /* behind the image */
}




.AboutUscontainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px 100px;
  width: 100%;
  height: 1000px;
  justify-content: flex-end;
  
  background: black;
  box-sizing: border-box;
}

/* Responsive AboutUs text box */
.AboutUs {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  text-align: center;
  color: white;
  z-index: 1;
}

.AboutUs h1,
.AboutUs h2 {
  margin-bottom: 10px;
  color: white;
}
.scroll-reveal {
  opacity: 0;
  transform: translateX(-100px); /* start from the left */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-reveal.visible {
  opacity: 1;
  transform: translateX(0); /* move to original position */
}



.AboutUs p {
  color: white;
  font-size: 1rem;
  line-height: 1.6;
}



@media screen and (max-width: 1024px) {
  .AboutUs {
    margin-top: 20%;
    padding: 10px;
  }

  .AboutUs h1 {
    font-size: 1.8rem;
  }

  .AboutUs h2 {
    font-size: 1.4rem;
  }

  .AboutUs p {
    font-size: 0.95rem;
  }

 
  .AboutPhoto {
    position: relative;
     width: 90%;
     max-width: 400px;
     min-height: 400px;
     border: 1px solid #FFFAF0;
     background-image: url("https://scontent.fmnl4-2.fna.fbcdn.net/v/t39.30808-6/476228809_1154651809621281_6266316232339093243_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEDijcBYTuCRYoGchpLIRQRygYWZzZAU93KBhZnNkBT3dO53cdIPzqdzD-Jo1eDiMTgESz0jPu94OaTfLQydB-w&_nc_ohc=SFMLOnbAekkQ7kNvwEn36vj&_nc_oc=AdkclRdZRSndBE_W6Fx7of8fm3FLjFSaOIOW5dNQOLXxHlfq688s_S8hFuaNc26Jb7pIg172wt0x6C2QZyJzJflI&_nc_zt=23&_nc_ht=scontent.fmnl4-2.fna&_nc_gid=yapP7VV1Hi_X4QG1PDBnuA&oh=00_AfKG146T8dkuTmOokAvjRM3umw-X2eD3XQv9nMu9gQvdxw&oe=6840976C"); /* shortened for readability */
     background-attachment: scroll;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-right: 10%;
     z-index: 2;
   }
   .AboutUscontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    width: 100%;
    height: 100%;
    background: black;
    box-sizing: border-box;
}
.AboutPhoto2 {
  position: relative;
   width: 90%;
   max-width: 400px;
   min-height: 400px;
   border: 1px solid #FFFAF0;
   background-image: url("https://scontent.fmnl4-4.fna.fbcdn.net/v/t39.30808-6/473634369_1138414184578377_5050945370082994823_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=LsIBQjY42g4Q7kNvwF7ZEJ_&_nc_oc=AdlTIrn19FUA4Knh_NmujEAg-srcbhSQlGzpuFiXMFmLLJ_aVeBMi_kDrEyZrFY4JmfQ43PKMFK6q1rMkUHAi3Ix&_nc_zt=23&_nc_ht=scontent.fmnl4-4.fna&_nc_gid=9oqhtrMZrOWNZ_-EZCZDmw&oh=00_AfKB40fJLR80KgZChffwehGpYfHWtsPrHVxo03L-BS9ACw&oe=684371C5"); /* shortened for readability */
   background-attachment: scroll;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 20px;
   margin-right: 10%;
   margin-top: 10%;
   z-index: 2;
 }
 .AboutPhoto2::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 80%;
  height: 60%;
  border-top: 19px solid #FF7F50;
  border-right: 19px solid #FF7F50;
  
  z-index: -1; /* behind the image */
}
.scroll-reveal2 {
  opacity: 0;
  transform: translateX(100px); /* start from the left */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-reveal2.visible {
  opacity: 1;
  transform: translateX(0); /* move to original position */
}
}

/* Media Query: Mobile */
@media screen and (max-width: 480px) {
  .AboutUscontainer {
    padding: 20px 10px;
  }

  .AboutUs {
    margin-right: 0;
    width: 100%;
  }

  .AboutUs h1 {
    font-size: 1.5rem;
  }

  .AboutUs h2 {
    font-size: 1.2rem;
  }

  .AboutUs p {
    font-size: 0.9rem;
  }


}


/*services*/



.services2 {
  opacity: 0;
  transform: translateY(50px); /* start from the left */
  transition: opacity 0.6s ease, transform 0.8s ease;
}

.services2.visible {
  opacity: 1;
  transform: translateX(0); /* move to original position */
}

.services3 {
  opacity: 0;
  transform: translateY(60px); /* start from the left */
  transition: opacity 0.6s ease, transform 2s ease;
}

.services3.visible {
  opacity: 1;
  transform: translateX(0); /* move to original position */
}

.services4 {
  opacity: 0;
  transform: translateY(70px); /* start from the left */
  transition: opacity 0.6s ease, transform 3s ease;
}

.services4.visible {
  opacity: 1;
  transform: translateX(0); /* move to original position */
}

.services5 {
  opacity: 0;
  transform: translateY(80px); /* start from the left */
  transition: opacity 0.6s ease, transform 4s ease;
}

.services5.visible {
  opacity: 1;
  transform: translateX(0); /* move to original position */
}

.services6 {
  opacity: 0;
  transform: translateY(90px); /* start from the left */
  transition: opacity 0.6s ease, transform 5s ease;
}

.services6.visible {
  opacity: 1;
  transform: translateX(0); /* move to original position */
}

.servicescontainerbox{
  top:0px;
  position: relative;
  width: 100%;
  height: 100%;
  background: white;

}
.servicescontainer {
  max-width: 1320px;
}
section {
  overflow: hidden;
}

.section-bg {
  background: #FFFAF0;
}

.section-header h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

.servicescontainer p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  color: #535074;
}

@media (max-width: 100%) {
  .section-header p {
    width: 100%;
  }
}

#services {
  padding: 60px 0 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column; /* or row, depending on your design */
  align-items: center; /* center items horizontally */
  justify-content: center; /* center items vertically */
  text-align: center; /* optional: centers inline content like text */
}
#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon .service-icon {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #c59c35;
}
#services .box:hover .title a:hover {
  text-decoration: none;
}
#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}



/* Footer */

.footercontainer {
  height: 100%;
  width: 100%;
  background: black;
  position: relative;
}
.footer {
  padding: 40px 0;
  background-color: #0d1117;
  color: white;
}


.footer-sociallinks{
  margin: 0px;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  margin: 20px;
}

.footer ul a:hover {
  color: white;
}

.footer .footersocial {
  text-align: center;
  padding-bottom: 25px;
}

.footer .footersocial > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer .footersocial > a:hover {
  color:white;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}


/* Video Collection*/
.gallery {
  max-width: 1200px;
  margin: auto;
  background: white;
  z-index: 1;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
}

.video-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.iframe {
  z-index: 1;
  position: relative;
  margin-top: 10%s;
}

.iframecontainer {
  background: #FFFAF0;
  position: relative;

}

.iframecontainer h1 {

  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  color: black ;
  text-align: center;

}

.iframecontainer p {

  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  color: black ;
  text-align: center;

}