@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.loader__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
}

.loader__film {
  position: absolute;
  top: -30px;
  left: 0;
  display: flex;
}

.loader__film-img {
  width: 40px;
  height: 40px;
  animation: rotate 1.5s linear infinite;
  margin: 0 5px;
}

.loader__camera {
  width: 60px;
  height: auto;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .loader__film-img {
    width: 25px;
    height: 25px;
    margin: 0 3px;
  }

  .loader__camera {
    width: 40px;
  }

  .loader__container {
    height: 30px;
  }

  .loader__film {
    top: -20px;
  }
}
