.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    z-index: 1;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .gallery-container h1 {
    font-size: clamp(.1rem, 2.5vw, 100rem);
    font-weight: 800;
    color: #333333;
    margin-bottom: 1rem;
    letter-spacing: -0.03em;

  }
  .gallery-container p {
    width: 100%;
    font-size: clamp(.1rem, 1.1vw, 100rem);
    color: #666666;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 5%;

  }
  .gallery-grid {
    margin-bottom: 5%;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
  .gallery-item {
    z-index: 1;
    background: white;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 520px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .fbtitle {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

  }

  .fbcontent {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

  }
  @media (max-width: 768px) { /* 1 column on mobile */
  .gallery-container p {
    width: 70%;
    font-size: clamp(.1rem, 3vw, 100rem);
    color: #666666;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 5%;

  }

  .gallery-container h1 {
    font-size: clamp(.1rem, 5vw, 100rem);
    font-weight: 800;
    color: #333333;
    margin-bottom: 1rem;
    letter-spacing: -0.03em;

  }
}